<div class="main">
		<video autoplay loop>
      <source src="https://s3.amazonaws.com/codecademy-content/projects/excursion/bg.mp4" type="video/mp4">
      <source src="https://s3.amazonaws.com/codecademy-content/projects/excursion/bg.mp4" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <div class="content container">
      <h1>
          Discover and Share Your interests
      </h1>
      <a href="/sessions/new" class="login-btn">Login</a>
      <a href="/users/new" class="register-btn">Register</a>
    </div>
</div>


<!-- First supporting section -->
<div class="supporting">
  <div class="container">
    <h2>
      Your personal list
    </h2>
    <p>
      The Bee-List remembers places you like, and recommends new places and things for you to explore.
    </p>

  </div>
</div>

<!-- Feature section -->
<div class="row" id="logged-out-hp">
	<div class="col-md-1"></div>
	<div class="col-md-2" id="logged-out-hp">
		<h2 class="logged-out-hp">Movies</h2>
	</div>
	<div class="col-md-2">
		<h2 class="logged-out-hp">TV</h2>
	</div>
	<div class="col-md-2">
		<h2 class="logged-out-hp">Books</h2>
	</div>
	<div class="col-md-2">
		<h2 class="logged-out-hp">Travel</h2>
	</div>
	<div class="col-md-2">
		<h2 class="logged-out-hp">Restaurants</h2>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2 logged-out-hp">
		<%= image_tag("movies.png", size: "200x174", class: "movies-img") %>
	</div>
	<div class="col-md-2 logged-out-hp">
		<%= image_tag("tv.png", size: "175x171", class: "tv-img") %>
	</div>
	<div class="col-md-2 logged-out-hp">
		<%= image_tag("books.png", size: "200x156", class: "books-img") %>
	</div>
	<div class="col-md-2 logged-out-hp">
		<%= image_tag("travel.png", size: "150x192", class: "travel-img") %>
	</div>
	<div class="col-md-2 logged-out-hp">
		<%= image_tag("restaurants.png", size: "200x137", class: "restaurants-img") %>
	</div>
	<div class="col-md-1"></div>
</div>


<!-- Second supporting section -->
<div class="supporting">
  <div class="container">
    <img src="https://cdn3.pcadvisor.co.uk/cmsdata/features/3343143/new-apple-logo-colours_thumb800.jpg" height="42" width="42">
    <h2>
      Available for iPhone and Android soon!
    </h2>
  </div>
</div>
