<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

  <%if @conversation.recipient.first_name == current_user.first_name %>
    <h3>Your Messages with <%= @conversation.sender.first_name %></h3>
  <% else %>
    <h3>Your Messages with <%= @conversation.recipient.first_name %></h3>
  <% end %>

<div class='message-box'>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <% if user == current_user %>
      <% alignment = "right" %>
      <% else %>
      <% alignment =  "left" %>
      <% end %>
      <div class="item">
        <div class="content">
          <div class="list">
            <div class="message-item speech-bubble <%= alignment%>">
              <%= message.body %>
              <div class="header"><b>from <%= User.find(message.user_id).first_name %></b> on <%= message.message_time %></div>
            </div>


          </div>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
  <%= form_for [@conversation, @message], html: {class: "message-form"} do |f| %>
  <div class="field">
    <%= f.text_area :body , size: "43x4" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
</div>


<% end %>
