<div class="container">
<% if logged_in? %>
  <% if @user.id == current_user.id %>
    <div id="friends-activity-feed">
      <%= render 'users/friends_activity_feed' %>
    </div>
    <div id="content">
      <div id="main-content">
      <div class="row">
        <% if !!@user.first_name %>
          <h1>Welcome Back, <%= @user.first_name %></h1>
        <% else %>
          <h1>Welcome Back!</h1>
        <% end %>
      </div>
      <br>
      <div class="row">
        <nav id="profiletabs">
          <ul class="clearfix">
            <li><a href="#uncomplete-goals" class="sel">Goals to Complete</a></li>
            <li><a href="#finished-goals">Finished Goals</a></li>
            <li><a href="#friends">Friends</a></li>
          </ul>
        </nav>
      </div>
      <section id="uncomplete-goals">
        <% @categories.each do |category| %>
          <div class="row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2>
                  <a href="/categories"><%=category.name %></a>

                    <button type="button" class="btn btn-default btn-sm categories-search-button" data-toggle="modal" data-target="#myModal-<%=category.id %>">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>



                  <div class="modal fade" id="myModal-<%=category.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-primary">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel"><%=category.name %> Search</h4>
                        </div>
                        <form class="navbar-form" method="GET" action="/search">
                          <input type="hidden" name="cat_id" value="<%= category.id %>">
                          <input type="text" name="search" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </h2>


              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <% category.display_current_user_goals(@user).each do |goal| %>
                    <li class="row list-group-item">
                      <div class="col-md-10">
                        <a href="/goals/<%= goal.id %>"><%= goal.task %></a>
                      </div>
                      <div class="col-md-1">
                        <%= link_to goals_user_path(goal.id, completed: true), method: :put do %>
                          <span class="list-mark-done-button glyphicon glyphicon-ok"></span>
                        <% end %>
                      </div>
                      <div class="col-md-1">
                        <%= link_to goals_user_path(id: goal.id, user_id: current_user.id), method: :delete do%>
                          <%= render partial: 'goals/goal_in_basket' %>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      <section id="finished-goals" class="hidden">
        <% @categories.each do |category| %>
          <div class="row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2><a href="/categories"><%=category.name %></a></h2>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <% category.display_completed_user_goals(@user).each do |goal| %>
                    <li class="row list-group-item">
                      <div class="col-md-11">
                        <a href="/goals/<%= goal.id %>"><%= goal.task %></a>
                      </div>
                      <div class="col-md-1">
                        <%= link_to goals_users_return_basket_path(id: goal.id), method: :post do %>
                          <%= render partial: 'goals/goal_not_in_basket' %>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      <section id="friends" class="hidden">
        <%= render 'users/friends_feed' %>
      </section>
      </div>
    </div>
  <% else %>
    <div id="content">
      <div class="row">
        <h1><%= @user.username.capitalize %>'s Profile</h1>
      </div>
      <% if current_user.is_friends_with?(@user) %>
        <div class="row">
          <%= link_to "Unfriend", connection_path(current_user.connection(@user), user_id: @user.id), method: :delete %>
        </div>
        <br><br>
        <div class="row">
          <nav id="profiletabs">
            <ul class="friend-clearfix">
              <li><a href="#uncomplete-goals" class="sel">Goals to Complete</a></li>
              <li><a href="#finished-goals">Finished Goals</a></li>
              <li><a href="#friends">Friends</a></li>
            </ul>
          </nav>
        </div>
        <section id="uncomplete-goals">
          <% @categories.each do |category| %>
            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h2><a href="/categories/<%= category.id %>"><%=category.name %></a></h2>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <% category.display_current_user_goals(@user).each do |goal| %>
                      <li class="row list-group-item">
                        <div class="col-md-11">
                          <a href="/goals/<%= goal.id %>"><%= goal.task %></a>
                        </div>
                        <div class="col-md-1">
                          <% if current_user.goals.include?(goal) %>
                            <%= link_to goals_user_path(id: goal.id, user_id: @user.id), method: :delete do%>
                              <%= render partial: 'goals/goal_in_basket' %>
                            <% end %>
                          <% else %>
                            <%= link_to goals_users_path(goal_id: goal.id, user_id: @user.id), method: :post do %>
                              <%= render partial: 'goals/goal_not_in_basket' %>
                            <% end %>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <section id="finished-goals" class="hidden">
          <% @categories.each do |category| %>
            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h2><a href="/categories/<%= category.id %>"><%=category.name %></a></h2>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <% category.display_completed_user_goals(@user).each do |goal| %>
                      <li class="row list-group-item">
                        <div class="col-md-11">
                          <a href="/goals/<%= goal.id %>"><%= goal.task %></a>
                        </div>
                        <div class="col-md-1">
                          <% if current_user.goals.include?(goal) %>
                            <%= link_to goals_user_path(id: goal.id, user_id: @user.id), method: :delete do%>
                              <%= render partial: 'goals/goal_in_basket' %>
                            <% end %>
                          <% else %>
                            <%= link_to goals_users_path(goal_id: goal.id, user_id: @user.id), method: :post do %>
                              <%= render partial: 'goals/goal_not_in_basket' %>
                            <% end %>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <section id="friends" class="hidden">
          <%= render 'users/friends_feed' %>
        </section>
      <% else %>
        <br>
        <%= form_for Connection.new do |f| %>
          <%= hidden_field_tag "connection[friendee_id]", "#{@user.id}" %>
          <%= submit_tag("Add Friend") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row" id="profile-page">
    <h1>This is the profile page of <%= @user.username %></h1>
  </div>
<% end %>

</div>
