<div class="container">
<% if @goal.image_url != "N/A" %>
  <img id="goal-picture" src="<%= @goal.image_url %>" alt="">
<% end %>
<h1 id="goal-h1"><%= @goal.task %></h1>
<div class="add-goal">
  <% if current_user.goals.include?(@goal) %>
    <%= link_to goals_user_path(id: @goal.id, user_id: current_user.id), method: :delete do %>
      <%= render partial: 'goals/goal_in_basket' %>
    <% end %>
  <% else %>
    <%= link_to goals_users_path(goal_id: @goal.id, user_id: current_user.id), method: :post do %>
      <%= render partial: 'goals/goal_not_in_basket' %>
    <% end %>
  <% end %>

  <% if @goal.data %>
    <% @goal.data.each do |key, value| %>
      <p class="goal-details"><span id="key"><%= key %></span><%= value %></p>
    <% end %>
  <% end %>
</div>

<div class="goal-count">
  <p>This has been added to <%= pluralize(@goal.users_count, 'bucket list') %>.</p>
  <div><hr /></div>
  <% if current_user.friends_with_goal(@goal).count > 0 %>
    <p><i><a role="button" data-toggle="collapse" href="#collapseFriendsList" aria-expanded="false" aria-controls="collapseFriendsList"><%= current_user.friends_with_goal(@goal).count %> of your friends</a> <% if current_user.friends_with_goal(@goal).count == 1 %>has<% else %>have<% end %> added this goal.</i></p>
    <div class="row" id="friends_collapse">
      <div class="collapse" id="collapseFriendsList">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="friends-goal-list-header">Friends</h3>
          </div>
          <div class="panel-body">
              <% current_user.friends_with_goal(@goal).each do |friend| %>
                <div class="row friends-list-row">
                    <a class="goals-friends-list-link" href="/users/<%=friend.id%>"><%=friend.username %></a>
                    <%= link_to conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post', type:"button", class:"goals-friends-list-message-button btn btn-default btn-xs" do %>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <% end %>

                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p><i><%= current_user.friends_with_goal(@goal).count %> of your friends have added this goal.</i></p>
  <% end %>
</div>

<div class="user-review-completed">
  <h4>Reviews</h4>
  <% if current_user.goals.include?(@goal) %>
    <% if current_user.completed_goal?(@goal) && !current_user.reviewed?(@goal) %>
      <h5>Add Review:</h5>
      <%= form_tag(goals_user_path(@goal.id, completed: true), method: :put) do %>
        <%= text_area_tag(:review, "", size: "36x6") %><br>
        <%= submit_tag("Submit") %>
      <% end %>
    <% end %>
  <% end %>
  <ul>
    <% @goal.goals_users.each do |user_goal| %>
      <% if !user_goal.review.nil? %>
        <li><%= user_goal.review %> by <%= link_to user_goal.user.username, user_path(user_goal.user) %></li>
      <% end %>
    <% end %>
  </ul>
</div>

</div>
