<img id="goal-picture" src="<%= @goal.image_url %>" alt="">
<h1><%= @goal.task %></h1>
<span><%= link_to "Add to Goals", goals_users_path(goal_id: @goal.id), method: :post%></span>
<% if @goal.data %>
  <% @goal.data.each do |key, value| %>
  <span class="goal-details"><strong><%= key %></strong> - <%= value %></span>
  <% end %>
<% end %>

<span class="goal-count"><strong><%= pluralize(@goal.users_count, 'person') %> have added this to their bucket list.</strong></span>
<span class="goal-count"><%= current_user.friends_with_goal(@goal).count %> <i>of your friends have added this goal.</i></span>


<div class="user-review-completed">
  <h4>Reviews</h4>
</div>
