<img id="goal-picture" src="<%= @goal.image_url %>" alt="">
<h1><%= @goal.task %></h1>
<% if !current_user.goals.include?(@goal) %>
  <span><%= link_to "Add to Goals", goals_users_path(goal_id: @goal.id), method: :post%></span>
<% end %>
<% if @goal.data %>
  <% @goal.data.each do |key, value| %>
    <span class="goal-details"><strong><%= key %>:</strong> <%= value %></span>
  <% end %>
<% end %>

<span class="goal-count"><strong><%= pluralize(@goal.users_count, 'person') %> added this to their bucket list.</strong></span>
<span class="goal-count"><a role="button" data-toggle="collapse" href="#collapseFriendsList" aria-expanded="false" aria-controls="collapseFriendsList"><%= current_user.friends_with_goal(@goal).count %> <i>of your friends</a> have added this goal.</i></span>
<br>
<div class="row">
  <div class="col-md-2 collapse" id="collapseFriendsList">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 id="goal-friends-list" class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
          <% current_user.friends_with_goal(@goal).each do |friend| %>
            <div class="row friends-list-row">
                <a class="goals-friends-list-link" href="/users/<%=friend.id%>"><%=friend.username %></a>

                <%= link_to conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post', type:"button", class:"goals-friends-list-message-button btn btn-default btn-xs" do %>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <% end %>

            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


<div class="user-review-completed">
  <h4>Reviews</h4>
  <% if current_user.goals.include?(@goal) %>
    <% if current_user.completed_goal?(@goal) && !current_user.wrote_review_already?(@goal) %>
      <h5>Add Review:</h5>
      <%= form_tag(goals_user_path(@goal.id, completed: true), method: :put) do %>
        <%= text_area_tag(:review, "", size: "36x6") %><br>
        <%= submit_tag("Submit") %>
      <% end %>
    <% end %>
  <% end %>
  <ul>
    <% @goal.goals_users.each do |user_goal| %>
      <% if !user_goal.review.nil? %>
        <li><%= user_goal.review %> by <%= link_to user_goal.user.username, user_path(user_goal.user) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
