<h2><%= @category.name  %> Search Results</h2>

<% if @errors %>
  <%= @errors %>
<% end %>

<h3>Database Results</h3>
<% if @database_results %>
  <ul>
    <% @database_results.each do |result| %>
      <li>
        <a href="#"><%=result.task %></a>
        <% if current_user.goals.include?(result) %>
          | <span>Goal is in your bucket list</span>
        <% else %>
          | <span><%= link_to "Add to Goals", goals_users_path(goal_id: result.id), method: :post%></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>API Results</h3>
<% if @api_results %>
  <ul>
    <% @api_results.each do |result| %>
      <li><%=result %></li>
    <% end %>
  </ul>
<% end %>
