<div class="container">

<div class="row">
  <h2><%= @category.name  %> Search Results</h2>

  <% if @errors %>
    <%= @errors %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-5">
    <h3>Existing Goals</h3>
    <% index = 0 %>
    <% if @database_results %>
      <% @database_results.each do |result| %>
        <div class="row">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="heading<%= index %>">
                <h4 class="panel-title">
                  <div class="col-md-10">
                    <a class="panel-title" role="button" data-toggle="collapse" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                      <%= result.task %>
                    </a>
                  </div>
                  <div class="col-md-1">
                    <% if current_user.goals.include?(result) %>
                      <%= link_to goals_user_path(id: result.id), method: :delete do%>
                        <%= render partial: 'goals/goal_in_basket' %>
                      <% end %>
                    <% else %>
                      <%= link_to goals_users_path(goal_id: result.id), method: :post do %>
                        <%= render partial: 'goals/goal_not_in_basket' %>
                      <% end %>
                    <% end %>
                  </div>
                </h4>
              </div>
              <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
                <div class="panel-body">
                  <% if !!result.data %>
                    <% result.data.each do |key, value| %>
                      <p class="goal-details"><span id="key"><%= key %></span><%= value %></p>
                    <% end %>
                  <% end %>
                  <span class="goal-details"><%= link_to 'See More', goal_path(result) %></span>
                </div>
              </div>
            </div>
          </div>
          <% index += 1 %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-2"></div>

  <div class="col-md-5">
    <h3>Be The First</h3>
    <% if @api_results %>
      <% @api_results.each do |result| %>
        <div class="row">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="heading<%= index %>">
                <h4 class="panel-title">
                  <div class="col-md-10">
                    <a role="button" data-toggle="collapse" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                      <%= result[0] %>
                    </a>
                  </div>
                  <div class="col-md-1">
                    <%= link_to goals_path(category_id: @category.id, task: result[0], api_id: result[1], data: result[2], image_url: result[3]), method: :post do %>
                      <%= render partial: 'goals/goal_not_in_basket' %>
                    <% end %>
                  </div>
                </h4>
              </div>
              <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
                <div class="panel-body">
                  <% if result[2] %>
                    <% result[2].each do |key, value| %>
                      <p class="goal-details"><span id="key"><%= key %></span><%= value %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% index += 1 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

</div>
