<h2><%= @category.name  %> Search Results</h2>

<% if @errors %>
  <%= @errors %>
<% end %>

<h2>Database Results</h2>
<% if @database_results %>
  <ul>
    <% @database_results.each do |result| %>
      <li><%=result.task %></li>
    <% end %>
  </ul>
<% end %>

<h3>API Results</h3>
<% if @api_results %>
  <ul>
    <% @api_results.each do |result| %>
      <li><%=result %></li>
    <% end %>
  </ul>
<% end %>

<% if @places %>
  <ul>
    <% @places.each do |place| %>
      <li><%=place.description %></li>
    <% end %>
  </ul>
<% end %>

<% if @eats %>
  <ul>
    <% @eats.each do |eat| %>
      <li><strong><%=eat.name %></strong>- <%=eat.formatted_address %></li>
    <% end %>
  </ul>
<% end %>

<% if @friends %>
  <ul>
    <% @friends.each do |eat| %>
      <li><strong><%=eat %></strong></li>
    <% end %>
  </ul>
<% end %>
