<!DOCTYPE html>
<html>
  <head>
    <title>The Bee-List</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/"><%= image_tag("bees.jpg", size: "200x45") %></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="GET" action="/search">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Log out", session_path(current_user), method: :delete %></li>
                <li><%= link_to "Profile", user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Log In", new_session_path %></li>
                <li><%= link_to "Register", new_user_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid" id="main">
      <%= yield %>
    </div>
  </body>
</html>
